
div{
    grid-column: auto;
    color: white;
 }
h1{
   text-align: center; 
   color: white;
    
}
body {
    min-height: 100vh;
   background-color: #3c3c3c; 
    display: grid;
    grid-template-rows: auto 1fr auto;
    
  }
  
  footer{
    background-color: white;
    height: auto
  }
  
  .grid1{ 
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    
    
    column-gap: 20px;
  }
 
  header{
    background-color: black;
  }
  a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: #A9A9A9;
  }
  .afooter{
    color: black
  }
  .afooter:hover{
    color: #5a5a5a;
  }
  .teamgrid{
    display: grid; 
    grid-template-columns: 22.5% 22.5% 22.5% auto;
    column-gap: 0;
    margin-left: 5%;
    margin-right: 5%; 
  }
  .teamgrid1{
    display: grid; 
    grid-template-columns: 25% 25% 50%;
    column-gap: 0;
    margin-left: 5%;
    margin-right: 10%;
  }
  h4{
    color: white;
    font-size: 32px;
  }
  

  .boxgrid{
    display: grid;
    grid-template-columns: 22.5% 22.5% 22.5% auto;
    margin-left: 5%;
    margin-right: 5%;
    
  }
  

  .centered{
    text-align: center;
    
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1%;
  }
  .header1{
    display: grid;
    grid-template-columns: 67.5% auto;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }
   .text1{
    font-size: 18px;
   }
   .teamgrid2{
    grid-column-start: 1; 
    grid-column-end: 3;
    
   }
   .teamgrid3{
    margin-top: 5%;
    grid-column-start: 3; 
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
   }
   * {
    font-family: "Verdana", sans-serif;
    text-decoration: none;
  } 
   .teamgrid4{
    display: grid;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
   }
   .colors{
    background-color:#5a5a5a;
    border-radius: 15px;
    border-left-color: #5a5a5a;
    border-left-width: 20px;
   }
   .grid2{
    display: grid;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    
   }